body,
#vue_content {
	padding: 0;
	margin: 0;
}


a {
	color: 000;
	text-decoration: none;
}


.gener-navigator {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	background: darkred;
	color: white;
}

.gener-back {
	position: absolute;
	left: 20px;
	top: 0;
	bottom: 0;
	font-size: 15px;
}

.gener-search {
	position: absolute;
	right: 20px;
	top: 0;
	bottom: 0;
	font-size: 15px;
}

.page-content {
	margin-top: 60px;
	padding: 20px;
}



.gener-title {
	font-size: 18px;
	font-weight: bold;
	color: darkred;
}

.gener-subtitle {
	margin-left: 10px;
	font-size: 15px;
	font-weight: normal;
}

.gener-card {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 25%;
	height: 40px;
	margin-right: 10px;
	margin-bottom: 10px;
	box-shadow: #eee 3px 3px;
}

.gener-desc {
	font-size: 12px;
	color: gray;
	font-weight: 300;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.detail-title {
	color: darkred;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 25px;
}

.detail-origin {
	font-size: 15px;
	margin-bottom: 20px;
}

.detail-desc {
	font-size: 14px;
	color: gray;
	line-height: 30px;
	margin-bottom: 30px;
}

.detail-gener {
	font-size: 15px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.detail-person {
	font-size: 15px;
	color: darkred;
	margin-right: 15px;
	line-height: 30px;
}

.page-drawer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.5);
}

.drawer-content {
	width: 60%;
	height: 100%;
	background: #f4f5f6;
	box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}

.search-input {
	padding: 10px 20px;
	background: white;
}

.search-input input {
	border-color: #ccc;
	border-radius: 5px;
	background: transparent;
	outline: none;
	padding: 0 10px;
	height: 35px;
	width: 60%;
}

.search-input button {
	height: 35px;
}

.search-content {
	overflow: scroll;
	height: calc(100% - 50px);
}

.ralate-name {
	width: 20px;
	font-size: 28px;
	color: darkred;
	font-weight: bold;
}

.ralate-vs {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 30px;
	font-style: italic;
	color: white;
	text-align: center;
	background: darkred;
}

.ralate-desc {
	font-size: 15px;
	color: gray;
	font-style: italic;
	line-height: 35px;
	margin: 50px 20px 0;
}